:root {
    --text: #180b28;
    --background: #faf7fd;
    --primary: #484250;
    --secondary: #bd805c;
    --accent: #b82828;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Didact Gothic", sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: var(--background);
    color: var(--text);
}

a {
    cursor: pointer;
    color: inherit;
}

.accent {
    color: var(--accent);
}
.secondary {
    color: var(--secondary);
}

.header {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 99999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary);
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.logo__img {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    line-height: 2rem;
    color: var(--background);
}
.logo__text {
    color: var(--secondary);
    font-size: 0.8rem;
    letter-spacing: 2px;
    font-weight: 300;
    word-wrap: balance;
}
.nav {
    width: 30%;
    min-width: 400px;
}
.nav__ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav__li {
    display: block;
    font-size: 1.2rem;
    color: var(--background);
    transition: color .15s ease;
}
.nav__li:hover{
    color:var(--accent);
}
.nav__li--button {
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--accent);
    padding: 12px;
    transition: filter .3s ease, color .3s ease;
}
.nav__li--button:hover{
    color: var(--text);
    filter: brightness(1.2);
}

.home {
    padding-top: 80px;
    position: relative;
}
.home__background {
    filter: contrast(110%) saturate(120%);
    max-width: 100%;
    width: 100%;
}
.home__background-container {
    position: relative;
}
.home__background-container::after {
    opacity: 0.65;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    content: " ";
    transform: translate(-50%, -50%);
    background-color: var(--primary);
}
.home__text {
    position: absolute;
    top: 40%;
    left: 25%;
    font-size: clamp(1rem, 3vw, 3rem);
    color: var(--background);
}
.home__h2 {
    font-family: "Playfair Display", serif;
    line-height: clamp(1.5rem, 4.5vw, 4.5rem);
}
.home__p {
    font-size: clamp(0.85rem, 2vw, 1.66rem);
}

/* ================================================================= */
/* =================== CONTACT PART CSS ==================== */
/* ================================================================= */

.contact-container{
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.contact-row{
    -ms-flex-pack: center!important;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.contact-us-cont{
    margin-top: 3rem!important;
}

.contact-us{
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.conctact-item-cont{
    margin-top: 1.5rem!important;
}

.contact-text-item{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 50%;
    max-width: 50%;
}

.contact-text-area{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    max-width: 100%;
}

.button-container{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%;
}

.contact-button{
    cursor: pointer;
    color: #fff;
    padding: 10px 24px;
    border-radius: 30px;
    background: #d49943;
    font-size: 16px;
    font-weight: 500;
    margin-top: 50px;
    transition: all .3s;
    border: 2px solid transparent;
}

.contact-item{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.justify-content-center {
    justify-content: center!important;
}

.text-center{
    text-align: center!important;
    color: #222222;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 8px;
}

.contact-part {
    padding-top: 110px;
    padding-bottom: 110px;
}

.personal-info-box {
    text-align: center;
    margin-bottom: 20px;
}

.maps-container{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.personal-info-box .icon {
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #dbdbdb;
    border-radius: 100%;
    display: block;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 25px;
    transition: all .3s;
}

.personal-info-box:hover .icon {
    color: #fff;
    background: #d49943;
    border-color: #d49943;
}

.personal-info-box .icon:before {
    position: absolute;
    content: "";
    width: 115px;
    height: 1px;
    background: #dbdbdb;
    left: 48px;
    top: 25px;
    transition: all .3s;
}

.personal-info-box:hover .icon:before,
.personal-info-box:hover .icon:after {
    background: #d49943;
}

.personal-info-box .icon:after {
    position: absolute;
    content: "";
    width: 115px;
    height: 1px;
    background: #dbdbdb;
    right: 48px;
    top: 25px;
    transition: all .3s;
}

.personal-info-box p {
    font-size: 16px;
    color: #222222;
    font-weight: 300;
}

.personal-info-box p a {
    color: #606060;
}

.personal-info-box p a:hover {
    color: #d49943;
}

.get-touch {
    max-width: 570px;
}

.get-touch h3 {
    color: #000;
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin-bottom: 55px;
}

.touch-info {
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid transparent;
    margin-bottom: 30px;
    transition: all .3s;
    background: #efefef;
    padding-left: 18px;
    border-radius: 2px;
}

.touch-info:hover {
    border-color: #d49943;
}

.touch-info:focus {
    box-shadow: none;
    border: 1px solid #d49943;
}

.touch-textarea {
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid transparent;
    padding-top: 10px;
    transition: all .3s;
    padding-left: 18px;
    background: #efefef;
    border-radius: 2px;
}

.touch-textarea:hover {
    border-color: #d49943;
}

.touch-textarea:focus {
    box-shadow: none;
    border: 1px solid #d49943;
}

.location-box {
    overflow: hidden;
    margin-left: -25px;
}

.location-box h3 {
    color: #000;
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin-bottom: 55px;
}


